body {
  margin: 0;
  font-family:Onest;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("./Assets/caredac.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

code {
  font-family:Onest;
}
